# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pdf
*.jpg
*.jpeg
/Praktikum1Beans/build/
/Praktikum1Beans/dist/
/DungeonCrawler/build/
/DungeonCrawler/dist/
/DungeonCrawler/Backup/build/
/DungeonCrawler/Backup/dist/
/DungeonCrawler/DungeonCrawlerBackup/build/
/DungeonCrawler/DungeonCrawlerBackup/dist/
